NODE_ENV = 'development'
PORT = 3000
MONGO_URL = 'mongodb://localhost:27017/mylocaldbname'
ELASTICSEARCH = 'localhost:9200'
MSG91_TOKEN = 'XXXXXXXXXXXXXXXXXXXXXXXXX'
MSG91_URL = 'https://control.msg91.com/api/sendhttp.php'
MSG91_SENDER = 'VERIFY'
MSG91_ROUTE = 4