<!DOCTYPE html>  
<html lang="en">  
	<head>
		<% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/header %>
		<h3>You are logged in :)</h3>
		<a href="/admin/logout">Logout</a> 
    </body>
</html>
    