<!DOCTYPE html>  
<html lang="en">  
	<head>
		<% include ./partials/head %>
		<style>
			body{
				background: none;
			}
		</style>
	</head>
	<body>
		<% include ./partials/header %>
		<% include ./partials/logout %>
		<div class="main-container">
			<h3>Welcome Admin :)</h3>
			<a href="/admin/users" class="btn btn-success" target="_blank">View Active Users</a>
			<a href="/admin/users/inactive" class="btn btn-success" target="_blank">View Inactive Users</a>
			<a href="/admin/books" class="btn btn-success" target="_blank">View All Books</a>
		</div>
    </body>
</html>
    