doctype html
html
  head
    meta(property='og:title' content='Fork-Read')
    meta(property='og:url' content='www.forkread.com')
    meta(property='og:image' content='/images/logo_white.png')
    meta(property='og:site_name' content='Fork-Read')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content