/*
========================================
Fonts Used
========================================
*/

@font-face{
	font-family: "Futura Bk BT Book";
	src: url('../fonts/tt0140m_.ttf');
}

@font-face{
	font-family: "Humanst521 Lt BT Light";
	src: url('../fonts/tt0288m_.ttf');
}

/*
========================================
General CSS
========================================
*/

.bold{
	font-weight: bold;
}

/*
========================================
Footer CSS 
========================================
*/

footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.footerMenu{
	margin: auto;
	width: 680px;
	padding-bottom: 30px;
}

.footerMenu li{
	float: left;
	padding-left: 18px;
	padding-right: 20px;
	font-family: "Futura Bk BT Book";
	font-size: 1.1em;
	background: url('../images/dot.png') no-repeat center right;
}


.footerMenu li:first-child{
	padding-left: 0px;
}

.footerMenu li:last-child{
	padding-right: 0px;
	background: none;
}

.footerMenu li a{
	text-decoration: none;
	color: #F6F6F6;
}

.footerMenu li a:hover{
	cursor: pointer;
	color: #5DC295;
}


/*
=========================================
Login Page CSS
=========================================
*/

#login{
	padding-top: 30px;
	background: #222222 url('../images/login-bg.png');
	background-size: cover;
}

.login-form-container{
	margin-right: 10px;
	width: 570px;
	float: right;
}

.input-box{
	padding: 10px;
	background-color: #F7F5EB;
	color: #444444;
	font-family: "Futura Bk BT Book";
	font-size: 0.95em;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

.btn{
	display: inline-block;
	height: 40px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #56B881;
	color: #FFFFFF;
	font-family: "Humanst521 Lt BT Light";
	font-size: 1.3em;
	border: none;
	border-radius: 3px;
}

.btn:hover{
	cursor: pointer;
	background-color: #56B881;
}

.login-button{
	margin-right: 10px;
}

#quotesSlideshow{
	margin: auto;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	padding-right: 3px;
	width: 400px;
	height: 70px;
}

#quotesSlideshow li{
	color: #F6F6F6;
	font-family: "Futura Bk BT Book";
}

.quote{
	text-align: left;
	font-size: 1.3em;
	letter-spacing: 0.7px;
	line-height: 130%;
	font-family: 'Indie Flower', cursive;
}

.said_by{
	padding-top: 3px;
	text-align: right;
	font-style: italic;
	letter-spacing: 0.5px;
}

/*
=======================================
Signup Page CSS
=======================================
*/

#signup{
	padding-top: 70px;
	background: url('../images/signup-bg.png');
}

.back-to-login{
	position: absolute;
	top: 20px;
	left: 20px;
}

.signup-heading{
	margin-top: 50px;
	color: #444444;
	text-align: center;
	font-family: "Humanst521 Lt BT Light";
	font-size: 3.8em;
}

.signup-caption{
	margin: auto;
	margin-top: 20px;
	width: 425px;
	color: #444444;
	text-align: center;
	font-family: "Futura Bk BT Book";
	font-size: 1.5em;
	background-color: #F6F6F6;	
}

.signup-accounts{
	margin: auto;
	margin-top: 40px;
	width: 460px;
}

.signup-accounts li{
	float: left;
	margin-right: 35px;
}

.signup-accounts li:last-child{
	margin-right: 0px;
}

.signup-accounts li a img{
	width: 130px;
}