/*
========================================
Fonts Used
========================================
*/

@font-face{
	font-family: "Futura Bk BT Book";
	src: url('../fonts/tt0140m_.ttf');
}

@font-face{
	font-family: "Humanst521 Lt BT Light";
	src: url('../fonts/tt0288m_.ttf');
}

/*
=========================================
Login Page CSS
=========================================
*/

body{
	padding-top: 50px;
	background: url('../images/bg.png');
	background-size: cover;
}

.login-form-container{
	margin-right: 10px;
	width: 570px;
	float: right;
}

.login-form-container input{
	padding: 10px;
	background-color: #F7F5EB;
	color: #444444;
	font-family: "Futura Bk BT Book";
	font-size: 0.95em;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

.btn{
	display: inline-block;
	height: 40px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #5DC295;
	color: #FFFFFF;
	font-family: "Humanst521 Lt BT Light";
	font-size: 1.3em;
	border: none;
	border-radius: 3px;
}

.btn:hover{
	cursor: pointer;
}

.login-button{
	margin-right: 10px;
}

/*
========================================
Footer CSS 
========================================
*/

footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.footerMenu{
	margin: auto;
	width: 680px;
	padding-bottom: 30px;
}

.footerMenu li{
	float: left;
	padding-left: 18px;
	padding-right: 20px;
	font-family: "Futura Bk BT Book";
	font-size: 1.1em;
	background: url('../images/dot.png') no-repeat center right;
}


.footerMenu li:first-child{
	padding-left: 0px;
}

.footerMenu li:last-child{
	padding-right: 0px;
	background: none;
}

.footerMenu li a{
	text-decoration: none;
	color: #F6F6F6;
}

.footerMenu li a:hover{
	cursor: pointer;
	color: #5DC295;
}
