/*
========================================
Fonts Used
========================================
*/

@font-face{
	font-family: "Futura Bk BT Book";
	src: url('../fonts/tt0140m_.ttf');
}

/*
=======================================
Common CSS
=======================================
*/

body {
  background: #EEEEEE;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo{
	display: block;
	margin: auto;
	width: 300px;
}

/*
=======================================
Common CSS
=======================================
*/

*::-webkit-input-placeholder {
    color: #FFFFFF !important;
    opacity: 0.5 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #FFFFFF !important;
    opacity: 0.5 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #FFFFFF !important;
    opacity: 0.5 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFFFFF !important;
    opacity: 0.5 !important;
}

.btn{
	border-radius: 0px;
}

.btn-darkTeal{
	background: #00796B;
	color: #FFFFFF;
}

.btn-darkTeal:hover{
	color: #FFFFFF;
}

.logout-btn{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 100;
}

.main-container{
	margin: auto;
	width: 1100px;
	padding-bottom: 30px;
}

.item-delete, .item-activate, .item-disown{
	position: absolute;
	top: 0px; right: 0px;
	background-color: #DF4A32;
	color: #FFFFFF;
	padding: 8px;
	padding-bottom: 9px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.item-activate{
	background-color: #4CAF50;
}

.item-delete:hover, .item-activate:hover, .item-disown:hover{
	cursor: pointer;
}

.pagination-nav{
	text-align: right;
	margin-top: -60px;
}

/*
=======================================
Header CSS
=======================================
*/

.header{
	width: 100%;
	padding: 20px;
	background: #009688;
}

/*
=======================================
Admin Login
=======================================
*/

.login-container{
	margin: auto;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 400px;
	height: 290px;
	border-radius: 6px;
	padding: 15px;
}

.login-container h3{
	color: #F8F8F8;
	text-align: center;
}

.login-container label{
	color: #F8F8F8;
}

.login-container input{
	background: none;
	color: #FFFFFF;
	border: none;
	box-shadow: none;
}

.login-container input:focus{
	box-shadow: none;
	border-bottom: 1px solid #FFFFFF;
}

/*
=======================================
User List
=======================================
*/

.user-item{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 500px;
	padding: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #CCCCCC; 
	border-radius: 6px;
	font-family: "Futura Bk BT Book" !important;
	margin: 20px;
	background-color: #FFFFFF;

	box-shadow: 5px 5px 8px 1px #888888;
}

.user-name-email{
	position: absolute;
	top: 0px; left: 0px;
	padding: 7px 12px;
	background-color: #388E3C;
	color: #FFFFFF;
	font-family: "Futura Bk BT Book";
	font-size: 1.1em;
	border-radius: 6px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
}

.user-contact-info{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.user-searched-locations{
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	padding-right: 7px;
	overflow-y: auto;
	width: 250px;
	max-height: 80px;
}

.view-owned-books{
	position: absolute;
	bottom: 0px; left: 0px;
	width: 100%;
	font-size: 1.2em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.view-owned-books:active, .view-owned-books:visited{
	color: #FFFFFF;
}

/*
=======================================
Books List
=======================================
*/

.book-owner-name{
	color: #00796B;
}

.book-item{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 500px;
	padding: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #CCCCCC; 
	border-radius: 6px;
	font-family: "Futura Bk BT Book" !important;
	margin: 15px;
	background-color: #FFFFFF;

	box-shadow: 5px 5px 8px 1px #888888;
}

.book-name{
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	padding: 7px 12px;
	background-color: #388E3C;
	color: #FFFFFF;
	text-align: center;
	font-family: "Futura Bk BT Book";
	font-size: 1.2em;
	border-radius: 6px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.book-image{
	float: left;
	margin-right: 30px;
}

.book-image img{
	width: 150px;
}

.book-info{
	float: left;
	margin-top: 20px;
	width: calc(100% - 180px);
}